*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
} 

#main {
  height: auto;
  width: auto;
}
img{
  padding-top: 3%;
  max-width: 100%;
}

body {
  background: linear-gradient(-45deg, white, #fee4e1, #b4d3dd, #bab4dd);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Menyesuaikan tinggi sesuai kebutuhan */
  margin: 0;
}

#lovely_photo {
  width: 100%; /* Sesuaikan dengan kebutuhan */
  height: auto; /* Sesuaikan dengan kebutuhan */
}